
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

body{
    background: url(galaxia.jpg) no-repeat;    
    background-size: cover;    
    margin: auto;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: white;
    position: absolute;
    left: 35%;
    top: 12%;
    font-size: 2rem;
}

@keyframes animacao {
    0% {
        transform: rotate(0deg) translateX(150px) rotate(0deg);
    }

    100%{
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
        
    }
}

.objeto{
    height: 230px;
    width: 230px;
    background: url(terra.png) no-repeat;
    background-size: cover;
    animation: animacao 5s linear infinite;
    transform-origin: center;
}

  

  