@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.objeto{
    height: 410px;
    width: 280px;
    background-color: #333;
    border-radius: 5px;
    justify-content: center;
    justify-items: center;   
    
}

#isaida{
    height: 60px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 2rem;
    background-color: rgba(240, 248, 255, 0.725);
    color: #fff;
    padding: 5px;
}

.botoes{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(5, 60px);
    gap: 5px;
        
}

.btn:hover{
    opacity: 40%;
    color: #fff;
}

.btn{
    width: 60px;
    height: 60px;
    font-size: 1.4rem;
    background-color: #333;
    color: #fff; 
}

input[type=reset]{
    grid-column: 1/ span 2;
    width: 125px;   
}

input[name="="]{
    grid-row: 4 / span 5;
    height: 125px;
}

input[name="."]{
    grid-column: 1 / span 3;
    width: 125px;
}

